@tailwind base;
@tailwind components;
@tailwind utilities;
/*br {*/
/*  display: block;*/
/*  margin: 10px 0;*/
/*}*/
:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 7, 11, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.border {
  border-color: rgb(141, 214, 247);
}